@using MotoGP_Web_Site.Database.EntityLayer.Concrete
@model List<ManuChampionship>

@{
	int most = Model[0].Points;
    ViewData["Title"] = "Manufacturers";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<br />
<br />
<br />

<section class="results-w3ls">
	<div class="container">
		<h3 style="color: black;" class="text-center" data-aos="zoom-in">Üreticiler Klasmanı</h3>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th><h4 style="color: black;">Pozisyon</h4></th>
					<th><h4 style="color: black;">Takım</h4></th>
					<th><h4 style="color: black;">Puan</h4></th>
					<th><h4 style="color: black;">Fark</h4></th>
				</tr>
			</thead>
			<tbody style="color: black;">
				@for(int i = 0; i < Model.Count; i++)
				{
					<tr>
						<td>@(i+1)</td>
						<td>
							@Model[i].Manufacturer.ManuName
						</td>
						<td>@Model[i].Points</td>
						@if (most == Model[i].Points)
						{
							<td></td>
						}
						else
						{
							<td>-@(most - Model[i].Points)</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>

