@model MotoGP_Web_Site.Database.EntityLayer.Concrete.Driver

@{
    ViewData["Title"] = "Sürücü Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post">

                        <label asp-for="National">Milliyeti</label>
                        @Html.DropDownListFor(x => x.NationalId, (List<SelectListItem>)ViewBag.n, new {@class="form-control"})<br><br>

                        <label asp-for="DriverNumber">Numarası</label>
                        <input type="text" class="form-control" asp-for="DriverNumber" /><br><br>

                        <label asp-for="Name">Adı</label>
                        <input type="text" class="form-control" asp-for="Name" /><br><br>

                        <label asp-for="Surname">Soyadı</label>
                        <input type="text" class="form-control" asp-for="Surname" /><br><br>
                         
                        <label asp-for="RiderStory">Hikayesi</label>
                        <textarea type="text" style="height: 200px;" class="form-control" asp-for="RiderStory"></textarea><br><br>

                        <button type="submit" class="btn btn-success">Sürücü Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

