@model MotoGP_Web_Site.Database.EntityLayer.Concrete.ManuChampionship

@{
    ViewData["Title"] = "Klasmana Üretici Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post">

                        <label asp-for="Manufacturer">Üretici</label>
                        @Html.DropDownListFor(x => x.ManufacturerManuId, (List<SelectListItem>)ViewBag.m, new {@class="form-control"})<br><br>

                        <label asp-for="Points">Puan</label>
                        <input type="number" class="form-control" asp-for="Points" /><br><br>

                        <label asp-for="Year">Yıl</label>
                        <input type="number" class="form-control" asp-for="Year" value="@ViewBag.year" readonly/><br><br>

                        <button type="submit" class="btn btn-success">Klasmana Üretici Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

