
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<br/>
<br/>
<br/>
<section class="about-w3layouts">
	<div class="container">
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6" data-aos="flip-left">
                <img src="~/web/images/about-pic1.jpg" class="img-responsive img-hover" />
            </div>
            <div class="col-md-6" data-aos="flip-right">
                <h3 style="color: black;">MotoGP Hakkında</h3>
				<p style="color: black;">
					MotoGP'nin adı ilk başta bu değildi. İlk başta bir adı yoktu. Seriler 500cc, 250cc ve 125cc 
					olarak üçe ayrılıyordu. İlk olarak 1949'da ortaya çıkan bu sporun amacı diğer araba ve motor
					müsabakaları gibi motorları geliştirmekti.
					Bu motorlar gerçek hayatta kullanılamıyordu, sadece prototipti. 1988 yılında Superbike bu yüzden
					ortaya çıktı ve bu motorların satışı sağlanabildi. 
				</p>
				<p style="color: black;">
					2002'den sonra 500cc'nin adı MotoGP, 250cc'nin adı Moto2 ve 125cc'nin adı da Moto3 olarak 
					değiştirildi. Aynı zamanda diğer motorsporlarından farklı olarak burada aldığınız her 
					şampiyonluk hanenize yazılıyor. Bu yüzden yarışçıların şampiyonlukları sayılırken "Premier" 
					sınıf olarak sayılıyor. Yani Moto2 veya Moto3 şampiyonluklarınız da sayılıyor.
				</p>
            </div>
        </div>
        <!-- /.row -->
	</div>
</section>

