
<section class="testimonial-w3ls jarallax">
	<h3 style="color: wheat; " class="text-center">2024 Misano</h3>

	<div class="container">
		<!-- Slideshow 1 -->
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Sürücü</th>
					<th>Takımı</th>
					<th>Fark</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>93</td>
					<td>Marc Marquez</td>
					<td>Gresini Racing</td>
					<td>Interval</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Francesco Bagnaia</td>
					<td>Ducati Factory Team</td>
					<td>+3.102</td>
				</tr>
				<tr>
					<td>23</td>
					<td>Enea Bastianini</td>
					<td>Ducati Factory Team</td>
					<td>+5.428</td>
				</tr>
			</tbody>

		</table>

		<a href="#" style="text-align: center; "> Devamını Gör</a>
	</div>
	
</section>