@model MotoGP_Web_Site.Database.EntityLayer.Concrete.Manufacturer

@{
    ViewData["Title"] = "Üreticiyi Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post">

                        <label asp-for="ManuId">Id</label>
                        <input type="text" class="form-control" asp-for="ManuId" readonly/><br><br />

                        <label asp-for="ManuName">Üretici</label>
                        <input type="text" class="form-control" asp-for="ManuName" /><br><br />

                        <button type="submit" class="btn btn-success">Üreticiyi Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

