
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin2/dist/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin2/dist/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/admin2/dist/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/admin2/dist/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin2/dist/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admin2/dist/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="/Admin/Index"><img src="~/admin2/src/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="https://image.api.playstation.com/cdn/EP9000/CUSA10249_00/Cf9WAADTD5zULyVSGhL26AzSONiyqdRv.png?w=440&thumb=false" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">Mete Önder</h5>
                                <span>Admin</span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-cog text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Admin/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Admin/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Haberler</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    
                    <a class="nav-link" href="/Result/GoToTrack">
                        <span class="menu-icon">
                            <i class="mdi mdi-car"></i>
                        </span>
                        <span class="menu-title">Yarışlar</span>
                    </a>
                </li>
                <li class="nav-item menu-items">

                    <a class="nav-link" href="/Team/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-car-3-plus"></i>
                        </span>
                        <span class="menu-title">Takımlar</span>
                    </a>
                </li>
                <li class="nav-item menu-items">

                    <a class="nav-link" href="/Manufacturer/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-wrench"></i>
                        </span>
                        <span class="menu-title">Üreticiler</span>
                    </a>
                </li>
                <li class="nav-item menu-items">

                    <a class="nav-link" href="/Driver/Index">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-title">Sürücüler</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <span class="menu-icon">
                            <i class="mdi mdi-trophy"></i>
                        </span>
                        <span class="menu-title">Şampiyonluklar</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/login.html"> Sürücüler Şampiyonluğu </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Takımlar Şampiyonluğu </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> Markalar Şampiyonluğu </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Admin/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-cog"></i>
                        </span>
                        <span class="menu-title">Ayarlar</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Admin/Index">
                        <span class="menu-icon">
                            <i class="fa fa-exchange"></i>
                        </span>
                        <span class="menu-title">Siteye Git</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/Admin/Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-logout"></i>
                        </span>
                        <span class="menu-title">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../../assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search products">
                            </form>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                    @RenderBody()
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin2/dist/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin2/dist/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/admin2/dist/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/admin2/dist/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin2/dist/assets/js/off-canvas.js"></script>
    <script src="~/admin2/dist/assets/js/misc.js"></script>
    <script src="~/admin2/dist/assets/js/settings.js"></script>
    <script src="~/admin2/dist/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin2/dist/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>