
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Takımlar Puan Durumu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Takım </th>
                            <th> Puan </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Ducati Factory Team </td>
                            <td> 529 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Prima Pramac Racing </td>
                            <td> 345 </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td> Gresini Team MotoGP </td>
                            <td> 305 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>