
@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<section class="inner-w3ls">
    <div class="container">
        <h3 class="text-center" data-aos="zoom-in" style="color: black;">Haberler</h3>
    </div>
</section>
<!-- header section -->
<section class="news-w3layouts">
    <div class="container">
        <!-- Blog Post Row -->
        <div class="news-w3ls">
            <div class="col-md-1 text-center" data-aos="zoom-in">
                <p class="news-agileits1"><i class="fa fa-motorcycle" style="color: black;"></i></p>
                <p class="news-agileits2" style="color: black;">June 17, 2017</p>
            </div>
            <div class="col-md-5" data-aos="flip-left">
                <a href="blogpost.html" style="color: black;">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive img-hover" src="~/web/images/news1.jpg" alt="w3layouts"></figure>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" data-aos="flip-right">
                <h3 style="color: black;">
                    <a href="blogpost.html" style="color: black;">Lorem ipsum dolor</a>
                </h3>
                <p class="news-agileits3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="btn btn-outline-primary" href="blogpost.html" style="color: black;">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Blog Post Row -->
        <div class="news-w3ls">
            <div class="col-md-1 text-center" data-aos="zoom-in">
                <p class="news-agileits1"><i class="fa fa-motorcycle" style="color: black;"></i></p>
                <p class="news-agileits2" style="color: black;">June 17, 2017</p>
            </div>
            <div class="col-md-5" data-aos="flip-left">
                <a href="blogpost.html" style="color: black;">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive img-hover" src="~/web/images/news1.jpg" alt="w3layouts"></figure>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" data-aos="flip-right">
                <h3 style="color: black;">
                    <a href="blogpost.html" style="color: black;">Lorem ipsum dolor</a>
                </h3>
                <p class="news-agileits3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="btn btn-outline-primary" href="blogpost.html" style="color: black;">Read More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Blog Post Row -->
        <div class="news-w3ls">
            <div class="col-md-1 text-center" data-aos="zoom-in">
                <p class="news-agileits1"><i class="fa fa-motorcycle" style="color: black;"></i></p>
                <p class="news-agileits2" style="color: black;">June 17, 2017</p>
            </div>
            <div class="col-md-5" data-aos="flip-left">
                <a href="blogpost.html" style="color: black;">
                    <div class="hover01 column">
                        <div>
                            <figure><img class="img-responsive img-hover" src="~/web/images/news1.jpg" alt="w3layouts"></figure>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" data-aos="flip-right">
                <h3 style="color: black;">
                    <a href="blogpost.html" style="color: black;">Lorem ipsum dolor</a>
                </h3>
                <p class="news-agileits3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="btn btn-outline-primary" href="blogpost.html" style="color: black;">Devamını Oku <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pager -->
        <div class="row">
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- /.row -->

        <hr>
    </div>
</section>