
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Üreticiler Puan Durumu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Üretici </th>
                            <th> Puan </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Ducati </td>
                            <td> 312 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> KTM </td>
                            <td> 159 </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td> Aprilia </td>
                            <td> 141 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>