@using MotoGP_Web_Site.Database.EntityLayer.Concrete
@model List<Track>

@{
    ViewData["Title"] = "Pistler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content-wrapper">
    <div class="row">
        <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pist</th>
                                    <th>Ülke</th>
                                    <th>Sil</th>
                                    <th>Düzenle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TrackId</td>
                                        <td>@item.TrackName </td>
                                        <td>@item.National.NationalName </td>
                                        <td><a href="/Track/DeleteTrack?id=@item.TrackId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Track/UpdateTrack?id=@item.TrackId" class="btn btn-warning">Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <br />
                    <br />
                    <a href="/Track/AddTrack" class="btn btn-primary">Yeni Pist Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>



