
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Son Haberler</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Haberin Başlığı </th>
                            <th> Atılma Tarihi </th>
                            <th> Tamamını Oku </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Joan Mir kariyerini yakmayı tercih etti </td>
                            <td> 14 Eylül 2024 </td>
                            <td>
                                <div class="badge badge-outline-success">Tamamını Oku</div>
                            </td>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> Joan Mir kariyerini yakmayı tercih etti </td>
                            <td> 14 Eylül 2024 </td>
                            <td>
                                <div class="badge badge-outline-success">Tamamını Oku</div>
                            </td>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> Joan Mir kariyerini yakmayı tercih etti </td>
                            <td> 14 Eylül 2024 </td>
                            <td>
                                <div class="badge badge-outline-success">Tamamını Oku</div>
                            </td>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> Joan Mir kariyerini yakmayı tercih etti </td>
                            <td> 14 Eylül 2024 </td>
                            <td>
                                <div class="badge badge-outline-success">Tamamını Oku</div>
                            </td>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> Joan Mir kariyerini yakmayı tercih etti </td>
                            <td> 14 Eylül 2024 </td>
                            <td>
                                <div class="badge badge-outline-success">Tamamını Oku</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>